---
import { getCollection } from 'astro:content';
import Subscribe from '../../components/Subscribe.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllCategories, getPostsByCategory, sortItemsByDateDesc } from '../../utils/data-utils';

const notes = (await getCollection('notes')).filter(({ data }) => !data.hidden).sort(sortItemsByDateDesc);
const poems = (await getCollection('poems')).filter(({ data }) => !data.hidden).sort(sortItemsByDateDesc);
const allItems = [...notes, ...poems];
const categories = getAllCategories(allItems).sort((catA, catB) => {
    const postCountCatA = getPostsByCategory(allItems, catA.id).length;
    const postCountCatB = getPostsByCategory(allItems, catB.id).length;
    return postCountCatB - postCountCatA;
});
---

<BaseLayout
    title="Categories"
    description="Explore the category directory for easy navigation and discovery. Find a wide range of topics, articles, and insights organized by categories, making it effortless to locate the content that interests you most."
    showHeader={false}
>
    <h1 class="mb-12 font-serif text-2xl italic sm:mb-16 sm:text-4xl">All Categories</h1>
    <div class="grid grid-cols-2 gap-x-8 gap-y-10 sm:gap-y-12">
        {
            categories.map((category) => {
                const postCount = getPostsByCategory(allItems, category.id).length;
                return (
                    <a class="group flex items-start justify-between gap-4" href={`/categories/${category.id}`}>
                        <div class="grow">
                            <h2 class="font-serif text-xl leading-tight font-medium group-hover:underline group-hover:decoration-dashed group-hover:decoration-1 group-hover:underline-offset-4 sm:text-2xl">
                                {category.name}
                            </h2>
                            <div class="mt-1 text-sm leading-normal">
                                {postCount} {postCount === 1 ? 'post' : 'posts'}
                            </div>
                        </div>
                    </a>
                );
            })
        }
    </div>
    <Subscribe class="my-16 sm:my-24" />
</BaseLayout>
